.body {
    background-color:lightskyblue;
}
.menu{
    background-color: rgb(47, 40, 151);
    height: 50px;

}
.inicio{
    color:black;
    font-size: 120%;
    margin: 2%;
}
#grafo-simple{
    background-color:pink;
    width: 70%;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-width: 5px;
    border-color: white;
}
#node-popUp {
    display:none;
    position:absolute;
    top:100%;
    left:40%;
    z-index:299;
    width:20%;
    height:25%;
    background-color: #f9f9f9;
    border-style:solid;
    border-width:3px;
    border-color: #5394ed;
    padding:10px;
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 6px;
}
#edge-popUp {
    display:none;
    position:absolute;
    top:100%;
    left:40%;
    z-index:299;
    width:20%;
    height:25%;
    background-color: #f9f9f9;
    border-style:solid;
    border-width:3px;
    border-color: #5394ed;
    padding:10px;
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 6px;
}
.titulo,
.ingrese-grafo {
    font-size: 340%;
    color: rebeccapurple;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.funciones {
    display: flex;
    justify-content: center;
}
.camino-corto,
.hamiltoniano,
.matriz-caminos,
.conexo {
    margin: 1%;
    background-color:cornflowerblue;
    color: cornsilk;
    border: solid;
    border-width: 2px;
    border-radius: 6px;
}
.camino-corto:hover,
.hamiltoniano:hover,
.matriz-caminos:hover,
.conexo:hover {
    background-color: tomato;
}
.instrucciones{
    font-size: 120%;
    width: auto;
    height: auto;
    margin: 3%;
}
.link-inicio{/*pendiente*/
    color:white;
    margin: 2%;
    text-decoration: none;
    font-size: 200%;
}
.link-inicio:hover{
    color: pink;
}
.repo-github{
    width: 20%;
    height: 20%;
    margin-top: auto;
    margin-left: 40%;
}
