.body {
    background-color:lightskyblue;
}
.menu{
    background-color: rgb(47, 40, 151);
    height: 50px;

}
.inicio{
    color:black;
    font-size: 120%;
    margin: 2%;
}
#grafo-simple{
    background-color: darkcyan;
    width: 70%;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    border: solid;
    border-width: 5px;
    border-color: white;
}

/*#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu ul li{
    display: inline-block;
}
#menu ul li a{
    color: white;
    display: block;
    padding: 10px;
    text-decoration: none;
}
#menu ul li a:hover{
    background-color: #2d537e;
}
h1{
    color:white;
    font-size: 50px;
}
h2{
    color:white;
    font-size: 25px;
}
a{
    font-size: 20px;
}
a:link{
    color: white;
}
a:visited{
    color: rgb(97, 82, 82);
}
a:hover{
    text-decoration: underline;
    color: white;
}
a:active    {
    text-decoration: underline;
    color: red;
}
*/
#node-popUp {
    display:none;
    position:absolute;
    top:350px;
    left:170px;
    z-index:299;
    width:250px;
    height:170px;
    background-color: #f9f9f9;
    border-style:solid;
    border-width:3px;
    border-color: #5394ed;
    padding:10px;
    text-align: center;
}
#edge-popUp {
    display:none;
    position:absolute;
    top:350px;
    left:170px;
    z-index:299;
    width:250px;
    height:170px;
    background-color: #f9f9f9;
    border-style:solid;
    border-width:3px;
    border-color: #5394ed;
    padding:10px;
    text-align: center;
}
.titulo,
.ingrese-grafo {
    font-size: 340%;
    color: rebeccapurple;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.funciones {
    display: flex;
    justify-content: center;
}
.camino-corto,
.hamiltoniano,
.matriz-caminos,
.conexo {
    margin: 1%;
    background-color:cornflowerblue;
    color: cornsilk;
    border: solid;
    border-width: 2px;
    border-radius: 6px;
}
.camino-corto:hover,
.hamiltoniano:hover,
.matriz-caminos:hover,
.conexo:hover {
    background-color: tomato;
}
.instrucciones{
    font-size: 120%;
    width: auto;
    height: auto;
    margin: 3%;
}
.link-inicio{/*pendiente*/
    color:white;
    margin: 2%;
    text-decoration: none;
    font-size: 200%;
}
.link-inicio:hover{
    color: pink;
}
.repo-github{
    width: 20%;
    height: 20%;
    margin-top: auto;
    margin-left: 40%;
}
